body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Cinzel', 'Helvetica', 'Arial', sans-serif;
    background-color: #1a1a1a; /* Dark background color */
    color: #ffffff; /* Light text color */
}

canvas {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #8B0000; /* Dark red button background */
    color: #ffffff; /* Light text color */
    border: none;
}

button:hover {
    background-color: #600000; /* Darker red on hover */
}

/* Additional styles for the prize segments */
canvas {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
